#editor-external {
    margin-left: 0.5em;
    padding: 1.333em 1.667em;
    flex-basis: 0;
    flex-grow: 407;
    background-color: white;
}

#image-location {
    width: 100%;
    padding: 0.667em 0.833em
}

#image-dropzone {
    width: 100%;
    padding: 1.667em 0;
    background-color: white;
    border: 1.5px dotted grey;
}

#editor-external strong {
    color: red;
}

.external-container {
    display: flex;
    align-items: center;
}

.external-container > label {
    width: 4.583em;
}

.external-container > button {
    width: 4.167em;
    padding: 0.75em 0.833em;
    background-color: #516B82;
    color: white;
}

.external-container > input {
    width: calc(100% - 8.750em);
}

#source {
    width: 100%;
    height: 2.5em;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#ccl-check {
    width: 100%;
    height: 2.5em;
}

#conform-button-container {
    display: flex;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

#conform-button-container > button {
    color: white;
    padding: 0.625em 1.25em;
    border-radius: 2px;
}

#conform-button-container > button:first-child {
    background-color: #516B82;
}

#conform-button-container > button:last-child {
    background-color: #ccc;
    margin-left: 0.5em;
}
