:root {
    --clien-background-color: #EEEEEE;
    --clien-blue-color: #CCDFED;
}

html {
    font-family: 'Nanum Gothic', 'Noto Sans KR', 'Roboto', sans-serif;
    font-weight: 500;
}

.flexbox-container {
    display: flex;
}

.flexbox-container-center {
    justify-content: center;
    align-items: center;
}

/*Disable default CSS styles*/
body {
    margin: 0;
    background-color: var(--clien-background-color);
}

a {
    text-decoration: none;
}

button, input {
    border: 0;
}

input:focus, input:focus-visible {
    outline: none;
}

section {
    background-color: white;
}

ul {
    padding: 0;
    list-style-type: none;
}

#middle {
    justify-content: space-between;
}

#middle > nav:first-child {
    flex-basis: 0;
    flex-grow: 145;
}

#middle > div:nth-child(2) {
    flex-basis: 0;
    flex-grow: 858;
}

#middle > div:nth-child(3) {
    flex-basis: 0;
    flex-grow: 180;
}

#bottom {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}