:root {
    --nav-community-first-child-background-color: #516B82;
    --nav-group-show-merge-background-color: #F1F1F1;
    --nav-item-vertical-padding-width: 0.833em;
    --nav-item-horizional-padding-height: 0.417em;
    --nav-small-group-first-child-background-color: #71A064;
    --nav-community-margin-bottom-height: 0.833em;
}

#left-nav {
    margin-left: 1em;
    font-size: 0.8em;
    max-width: 11em;
    flex-grow: 1;
}

#left-nav a {
    padding: var(--nav-item-horizional-padding-height) var(--nav-item-vertical-padding-width);
}

#community {
    margin-bottom: var(--nav-community-margin-bottom-height);
}

#community > article {
    display: flex;
    flex-direction: column;
}

#community > article:first-child {
    background-color: var(--nav-community-first-child-background-color);
}

#community > article:first-child, #small-group > article:first-child {
    color: white;
}

#small-group > article {
    display: flex;
    flex-direction: column;
}

#small-group > article:first-child {
    background-color: var(--nav-small-group-first-child-background-color);
}

article.community-show-merge, article.small-group-show-merge {
    background-color: var(--nav-group-show-merge-background-color);
}

article.community-show-merge a, article.small-group-show-merge a {
    color: #111;
}

article.community-group a, article.small-group a, #small-group-etc a {
    color: #222;
}

article > a:has(span.nav-icon) {
    display: flex;
}

span.nav-icon {
    margin-right: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: var(--nav-group-show-merge-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
}