<main>
    <section>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
        <article class="affordable-purchase-post">
            <div class="post">
                <div>
                    <p>마이크론 Crucial P3 4TB 한국 정발 (201,500)원</p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p>쭈쭈</p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p>09-11</p>
            </div>
        </article>
    </section>
</main>
