<main>
    <section>
        <!--/*@thymesVar id="posts" type="com.example.demo.post.Post"*/-->
        <article class="affordable-purchase-post" th:each="post: ${posts}">
            <div class="post">
                <div>
                    <p th:text="${post.title}"></p>
                    <pre>4</pre>
                </div>
                <i>상품정보</i>
            </div>
            <div class="image">
                <img alt="Crucial P3 4TB" src="/images/crucial%20p3%204tb%20sample%20image.webp"/>
            </div>
            <div class="author">
                <p th:text="${post.author}"></p>
            </div>
            <div class="view-count">
                <p>4568</p>
            </div>
            <div class="created-time">
                <p th:text="${post.createdDate}"></p>
            </div>
        </article>
    </section>
</main>
