<div id="content-board">
    <div id="content-board-head">
        <div id="content-board-title">
            <span>J</span>
            <h2>알뜰구매</h2>
        </div>
        <div id="content-board-user">
            <a href="#">나의 글</a>
            <a href="#">나의 댓글</a>
            <a href="#">주시글</a>
            <!--            Check icon-->
            <a href="#">내가 본글</a>
        </div>
    </div>
    <nav th:replace="~{quick_link}"></nav>
    <section>
        <article id="view-by-category">
            <a href="#">전체보기</a>
            <a href="#">상품정보</a>
            <a href="#">오프라인정보</a>
            <a href="#">이벤트정보</a>
            <a href="#">공동구매정보</a>
            <a href="#">해외구매정보</a>
        </article>
    </section>
    <main th:replace="~{affordable_purchase_main}"></main>
</div>