<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>클리앙 : 알뜰구매 글 쓰기</title>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/996a0504f3.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&family=Roboto&display=swap');
        @import url("/css/common.css");
        @import url("/css/create.css");
        @import url("/css/header.css");
        @import url("/css/create.css");
        @import url("/css/editor.css");
        @import url("/css/editor_external_content.css");
        @import url("/css/bottom_nav.css");
        @import url("/css/footer.css");
    </style>
</head>
<body>
<header th:replace="~{header}"></header>
<main id="editor">
    <div th:replace="~{editor}"></div>
    <div th:replace="~{editor_external_content}"></div>
</main>
<div id="bottom">
    <div th:replace="~{bottom_nav}"></div>
    <footer th:replace="~{footer}"></footer>
</div>
</body>
</html>
