<div id="editor-main">
    <div>
        <p>안내</p>
        <p>이 게시판에는 일정 숫자의 댓글이 달리면 삭제가 일정시간동안 지연됩니다.</p>
        <a href="#">안내링크</a>
    </div>
    <hr>
    <div id="bulletin-board-title">
        <a id="bulletin-board-title-name">모두의공원</a>
    </div>
    <div id="bulletin-board-title-input-container">
        <label for="post-title"></label>
        <input id="post-title" placeholder="제목을 입력하세요"/>
    </div>
    <div id="bulletin-board-content-input-container">
        <label for="post-content"></label>
        <textarea id="post-content"
                  placeholder="본문을 입력하세요"></textarea>
    </div>
    <section>
        <a href="#">글쓰기 안내</a>
        <a href="#">불법촬영물 등 안내</a>
    </section>
</div>
