<header class="flexbox-container">
    <a class="flexbox-container" href="#">CLI&eacute;N</a>
    <ul class="flexbox-container">
        <li class="flexbox-container flexbox-container-center"><a href="#">톺아보기</a></li>
        <li class="flexbox-container flexbox-container-center"><a href="#">공감글</a></li>
        <li class="flexbox-container flexbox-container-center"><a href="#">추천글</a></li>
    </ul>
    <div class="flexbox-container"></div>
    <div class="flexbox-container flexbox-container-center" id="search-input-container">
        <label class="flexbox-container">
            <input placeholder="검색어를 입력하세요.">
            <button>
                <span class="fa fa-search"></span>
            </button>
        </label>
    </div>
</header>