<nav>
    <section id="community">
        <article>
            <a>
                <span>커뮤니티</span>
            </a>
        </article>
        <article class="community-show-merge">
            <a href="#">
                <span class="nav-icon">C</span>
                <span>모두의 광장</span>
            </a>
        </article>
        <article class="community-group">
            <a href="#">
                <span class="nav-icon">F</span>
                <span>모두의 공원</span>
            </a>
            <a href="#">
                <span class="nav-icon">I</span>
                <span>사진게시판</span>
            </a>
            <a href="#">
                <span class="nav-icon">Q</span>
                <span>아무거나 질문</span>
            </a>
        </article>
        <article class="community-show-merge">
            <a href="#">
                <span class="nav-icon">D</span>
                <span>정보와 자료</span>
            </a>
        </article>
        <article class="community-group">
            <a href="#">
                <span class="nav-icon">N</span>
                <span>새로운 소식</span>
            </a>
            <a href="#">
                <span class="nav-icon">T</span>
                <span>유용한 사이트</span>
            </a>
            <a href="#">
                <span class="nav-icon">P</span>
                <span>자료실</span>
            </a>
        </article>
        <article class="community-show-merge">
            <a href="#">
                <span class="nav-icon">E</span>
                <span>강좌/사용기</span>
            </a>
        </article>
        <article class="community-group">
            <a href="#">
                <span class="nav-icon">L</span>
                <span>팁과강좌</span>
            </a>
            <a href="#">
                <span class="nav-icon">U</span>
                <span>사용기</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>체험단 사용기</span>
            </a>
        </article>
        <article class="community-show-merge">
            <a href="#">
                <span class="nav-icon">W</span>
                <span>사고팔고</span>
            </a>
        </article>
        <article class="community-group">
            <a href="#">
                <span class="nav-icon">J</span>
                <span>알뜰구매</span>
            </a>
            <a href="#">
                <span class="nav-icon">S</span>
                <span>회원중고장터</span>
            </a>
            <a href="#">
                <span class="nav-icon">B</span>
                <span>직접흥보</span>
            </a>
        </article>
        <article class="community-group">
            <a href="#">
                <span class="nav-icon">•</span>
                <span>보험상담실</span>
            </a>
        </article>
    </section>
    <section id="small-group">
        <article>
            <a>
                <span>소모임</span>
            </a>
        </article>
        <article class="small-group-show-merge">
            <a href="#">
                <span>소모임 전체</span>
            </a>
        </article>
        <article>
            <a href="#">
                <span>
<!--                    Plus and square logo-->
                </span>
                <span>임시 소모임</span>
            </a>
        </article>
        <article>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>굴러간당</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>아이포니앙</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>주식한당</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>방탄소년당</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>MaClien</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>자전거당</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>일본산당</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>안드로메당</span>
            </a>
            <a href="#">
                <span class="nav-icon">•</span>
                <span>바다건너당</span>
            </a>
        </article>
    </section>
</nav>