<nav id="quick-link">
<span class="quick-link-item">
    바로가기
    <!--     Right arrow icon-->
</span>
    <span class="quick-link-item">
       <a href="#">쿠팡</a>
    </span>
    <span class="quick-link-item">
       <a href="#">AliExpress</a>
    </span>
    <span class="quick-link-item">
       <a href="#">ebay.com</a>
    </span>
    <span class="quick-link-item">
       <a href="#">G마켓</a>
    </span>
    <span class="quick-link-item">
       <a href="#">11st</a>
    </span>
    <span class="quick-link-item">
       <a href="#">옥션</a>
    </span>
    <span class="quick-link-item">
       <a href="#">MS스토어</a>
    </span>
</nav>